h1,
h2,
h3,
h4,
p,
ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
}
ul,
ol {
	padding-left: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
address {
	font-style: normal;
}
button {
	cursor: pointer;
	border: none;
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
