
@import url('./reset.css');
@import url('./header.css');
@import url('./gallery.css');
@import url('./services.css');
@import url('./team.css');
@import url('./contacts.css');


:root{
	--main-background-color:#FFFFFF;
	--form-background-color:#E5E5E5;
	--light-font-color:#FFFCFC;
	--dark-color:#000000;
	--overlay-color:rgba(163, 83, 10, 0.7);
	--form-font-color:rgba(0, 0, 0, 0.5);
	--overlay-transform:matrix(1, 0, 0, 1, 0, 0);
	--main-font-family:'Rosario';
	--main-font-weight: 700;
	--secondary-font-weight:600;
	--line-height:1.22;
	--header-font-size:36px;
	--section-title-font-size:96px;
	--secondary-title-font-size:64px;
	--form-font-size:36px;
	--contacts-font-size:30px;
	--contacts-hours-font-size:36px;
}
body{
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
	line-height: var(--line-height);
}

